html, body {
	height: 100vh;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
}

main, footer, header {
	background-color: #09192F;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #8892B0;
}

a {
	color: #48BAA5;
}

main {
	overflow-y: scroll;
	flex: auto;
}

header, footer {
	flex: none;
}
