html, body {
	height: 100vh;
	margin: 0;
}

body {
	display: grid;
	flex-direction: column;
}

main, footer, header {
	background-color: #09192F;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #8892B0;
}

a {
	color: #48BAA5;
}

main {
	overflow-y: scroll;
	flex: auto;
}

header, footer {
	flex: none;
}

header li {
	display: inline-block; /* Displays list items inline */
	margin-right: 20px; /* Adds some space between the list items */
}

header ul {
	list-style-type: none;
	justify-content: right;;
}